@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";


//fonts

@import "@/assets/fonts/shabnam/index.scss";

body {
  font-family: "Shabnam", sans-serif;
  direction: rtl;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}